<html>
  <body>
  <div class="bg-white border-black flex flex-row items-center p-3 rounded-l shadow-lg gap-3">
    <a [routerLink]="['/']"><img class="h-8 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=500" alt="WordPower"></a>
    <h1 class="text-2xl font-semibold">Products</h1>
    <div class="flex flex-1 justify-center">
      <input placeholder="Search" class="rounded-lg border-gray-300 border p-2 w-full max-w-md "/>
    </div>
    <div class="flex justify-between">
      <button class="bg-red-500 text-center text-white p-2 rounded-lg font-semibold ">Logout</button>
    </div>
  </div>
  </body>
</html>
