<html>
  <body>
    <app-navbar></app-navbar>

    <div class="flex items-center justify-center min-h-screen">
      <div class="p-8 rounded-lg shadow-lg w-full max-w-3xl">
        <h2 class="text-2xl font-semibold mb-4 text-center text-black">Create New Product</h2>
        <p class="text-gray-600 text-center mb-6">Enter Product Details To Create</p>

        <form [formGroup]="createForm" (submit)="submitCreate()">
          <div class="mb-6">
            <label for="productName" class="block text-black text-sm font-semibold mb-2">Product Name:</label>
            <input type="text" id="productName" formControlName="name" name="name" class="form-input w-full border rounded-lg px-4 py-2" required placeholder="Enter Product Name">
          </div>
          <div class="mb-6">
            <label for="productDescription" class="block text-black text-sm font-semibold mb-2">Product Description:</label>
            <textarea type="text" id="productDescription" formControlName="description" name="description" class="form-textarea text-black w-full border rounded-lg px-4 py-2 h-40" required></textarea>
          </div>
          <div class="mb-6">
            <label for="productPrice" class="block text-black text-sm font-semibold mb-2">Product Price:</label>
            <input type="text" id="productPrice" formControlName="price" name="price" class="form-input w-full border rounded-lg px-4 py-2" required placeholder="Enter Product Price">
          </div>
          <button type="submit" class="w-full bg-blue-500 rounded-lg p-2 text-white hover:bg-blue-600">Create Product</button>
        </form>
      </div>
    </div>
  </body>
</html>
