<html>
  <body>
    <app-navbar>
    </app-navbar>

    <div class="flex items-center justify-center min-h-screen">
      <div class="p-8 rounded-lg shadow-lg w-full max-w-2xl ">
        <h2 class="text-2xl font-semibold mb-4 text-center text-black">Delete Product</h2>
        <p class="text-center mb-6 text-black font-semibold text-2xl">Are You Sure You Want To Delete {{product?.name}}</p>
        <p class="text-center mb-6 text-gray-600 font-semibold">This operation is not reversible</p>
        <button (click)="submitDelete()" type="submit" class="w-full bg-red-500 p-2 rounded-lg text-white font-semibold hover:bg-red-600">DELETE PRODUCT</button>
      </div>
    </div>
  </body>
</html>
